/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Bỏ qua tất cả các tệp trong thư mục storage
/storage/*

# Cho phép theo dõi thư mục public trong storage
!storage/app/
!storage/app/public/
!storage/app/public/products/